<div class="container">
  <div class="banner banner-top">
    <h1>Music Square</h1>
  </div>
  <div class="banner banner-bottom">
    <p>EVERYTHING FOR MUSICIANS</p>
  </div>
</div>

<div class="container home">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="listing-wrapper col-3 ">
        <div class="listing rounded p-3 my-5">
          <%= cl_image_tag listing.images.first.key %>
          <div class="listing-description mt-4">
            <p><%= listing.name %></p>
            <p><%= listing.liked_genres %></p>
            <p><%= listing.looking_for %></p>
            <audio controls>
              <source src="<%= cloudinary_url(listing.sound_clip.key, resource_type: "video") %>" type="audio/mp3">
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
