<div class="container no-container">
  <div class="banner banner-top">
    <h1>Music Square</h1>
  </div>
  <div class="banner banner-bottom">
    <p>EVERYTHING FOR MUSICIANS</p>
    <p>EVERYTHING FOR MUSICIANS</p>
    <p>EVERYTHING FOR MUSICIANS</p>
    <p>EVERYTHING FOR MUSICIANS</p>
    <p>EVERYTHING FOR MUSICIANS</p>
    <p>EVERYTHING FOR MUSICIANS</p>
  </div>
</div>

<div class="container home">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="listing-wrapper col-3 ">
        <%= link_to listing_path(listing), class: 'text-decoration-none text-secondary' do %>
          <div class="listing rounded p-3 my-5">
            <%= image_tag listing.images.first %>
            <div class="listing-description mt-4">
              <p><%= listing.name %></p>
              <p><%= listing.liked_genres %></p>
              <p><%= listing.looking_for %></p>
              <p>Sound clip button</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
