<h1>Create New Listing</h1>

<%= simple_form_for @listing do |f| %>
  <%= f.input :name %>
  <%= f.input :looking_for, collection: Listing::MUSICIANS %>
  <%= f.input :images %>
  <%= f.input :daterange,
            as: :fake,
            label: "Select range of dates",
            input_html: { data: { controller: "datepicker" }} %>
  <%= f.input :day, as: :fake_select, collection: %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday), label: "Select the usual day you jam" %>
  <div class="row">
    <div class="col-6">
      <%= f.input :start_time,
                as: :fake,
                input_html: { data: { controller: "timepicker" },
                label: "Start time" } %>
    </div>
    <div class="col-6">
      <%= f.input :end_time,
                as: :fake,
                input_html: { data: { controller: "timepicker" },
                label: "End time" } %>
    </div>
  </div>

  <%= f.submit class:"btn btn-primary mt-3" %>
<% end %>
