<div class="container-fluid show">
  <div class="row">
    <div class="left col p-0">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @listing.images.each do |list| %>
            <div class="carousel-item active">
              <img " src="<%= list %>" alt="" class="d-block">
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="text-wrap top d-flex justify-content-start">
        <p>Instruments: </p>
        <p><%= @listing.instruments %></p>
      </div>
      <div class="text-wrap bottom d-flex justify-content-start">
        <p>Genres: </p>
        <p><%= @listing.liked_genres %></p>
      </div>
      <div class="text-wrap bottom d-flex justify-content-start">
        <p>Bands we love: </p>
        <p><%= @listing.liked_bands %></p>
      </div>
    </div>

    <div class="right col p-0">
      <p class="band-name"><%= @listing.name %></p>
      <p class="d-flex justify-content-center">is looking for:</p>
      <p class="band-name d-flex justify-content-end"><%= @listing.looking_for %></p>
      <div class="d-flex justify-content-center">
        <p class="description-wrapper"><%= @listing.description %></p>
      </div>


    </div>
  </div>
</div>

<%= link_to "delete", listing_path(@listing), class: 'text-danger text-decoration-none fs-6', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
