
<div class="d-flex align-items-center justify-content-center requests-navigation">
  <%= link_to 'Accepted', '#accepted-row', class: "in-page-links" %>
  <%= link_to 'Declined', '#declined-row', class: "in-page-links" %>
</div>

<div class="requests-page">

    <%= render 'request_row', header: 'pending', comments: 'No Pending Requests', requests: @pending  %>
    <%= render 'request_row', header: 'accepted', comments: 'Nobody wants you', requests: @accepted  %>
    <%= render 'request_row', header: 'declined', comments: 'Everybody wants you', requests: @declined  %>

</div>
