
<div class="d-flex align-items-center justify-content-center requests-navigation">
  <%= link_to 'Accepted', '#accepted-row', class: "in-page-links" %>
  <%= link_to 'Declined', '#declined-row', class: "in-page-links" %>
</div>

<div class="requests-page">

  <%# pending %>
  <div class="row">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <h1>My requests</h1>
    </div>

    <% if @pending == [] %>
      <div class="d-flex col-8">
        <p class="not-accepted">No pending requests</p>
      </div>
    <% elsif @pending %>
      <% @pending.each do |request| %>
        <div class="d-flex listing-wrapper queue-wrapper col-8">
          <div class="listing queue rounded p-3 my-5">
            <%= image_tag request.listing.images.first %>
            <div class="listing-description mt-4">
              <p class="text-center">You sent a request to</p>
              <strong class="d-flex justify-content-center"><%= request.listing.name %></strong>
              <p class="text-center">to jam on <%= request.request_date %> at <%= request.request_time %></p>
              <p class="requestor-box"><%= request.requestor_comment %></p>
              <div class="d-flex justify-content-around mt-2">
                <p class="acceptance">Pending</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# accepted %>
  <div id="accepted-row" class="row">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <h1>Accepted</h1>
    </div>

    <% if @accepted == [] %>
      <div class="d-flex col-8">
        <p class="not-accepted">Nobody wants you</p>
      </div>
    <% elsif @accepted %>
      <% @accepted.each do |request| %>
        <div class="d-flex listing-wrapper queue-wrapper col-8">
          <div class="listing queue rounded p-3 my-5">
            <%= image_tag request.listing.images.first %>
            <div class="listing-description mt-4">
              <p class="text-center">You sent a request to</p>
              <strong class="d-flex justify-content-center"><%= request.listing.name %></strong>
              <p class="text-center">to jam on <%= request.request_date %> at <%= request.request_time %></p>
              <p class="requestor-box"><%= request.requestor_comment %></p>
              <div class="d-flex justify-content-around mt-2">
                <p class="acceptance accepted">Accepted</span></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# declined %>
  <div id="declined-row" class="row">
    <div class="col-4 d-flex align-items-center justify-content-center">
      <h1>Declined</h1>
    </div>

    <% if @decline == [] %>
      <div class="d-flex col-8">
        <p class="not-accepted">Everybody wants you</p>
      </div>
    <% elsif @decline %>
      <% @decline.each do |request| %>
        <div class="d-flex listing-wrapper queue-wrapper col-8">
          <div class="listing queue rounded p-3 my-5">
            <%= image_tag request.listing.images.first %>
            <div class="listing-description mt-4">
              <p class="text-center">You sent a request to</p>
              <strong class="d-flex justify-content-center"><%= request.listing.name %></strong>
              <p class="text-center">to jam on <%= request.request_date %> at <%= request.request_time %></p>
              <p class="requestor-box"><%= request.requestor_comment %></p>
              <div class="d-flex justify-content-around mt-2">
                <p class="acceptance rejected">Declined</span></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
